<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Forgot Password</h2>

    <form action="/auth/forgot-password" method="post" class="mt-4">
        <div class="form-group mb-3">
            <label>Enter your Email</label>
            <input type="email" name="email" class="form-control" required/>
        </div>
        <button type="submit" class="btn btn-warning btn-block">Send Reset Link</button>
    </form>

    <div th:if="${error}" class="alert alert-danger mt-3" th:text="${error}"></div>
    <div th:if="${message}" class="alert alert-success mt-3" th:text="${message}"></div>
</div>
</body>
</html>
